body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   background-image: url(bacgroundforfor.jpg);
   background-repeat: no-repeat;
   background-size: 100%;
   color: white;
}
.logo1 {
   margin: 20px;
   display: flex;
}
#logo {
   width: 100px;
   height: 100px;
}
.links1 {
   text-decoration: none;
}
.links {
   justify-content: center;
   margin: 0 auto;
   margin-top: 30px;
}
.home {
   margin: 20px;
   text-decoration: none;
   color: white;
}
.about {
   margin: 20px;
   text-decoration: none;
   color: white;
}
.models {
   margin: 20px;
   text-decoration: none;
   color: white;
}
.price {
   margin: 20px;
   text-decoration: none;
   color: white;
}
.home:hover {
   color: blue;
}
.about:hover {
   color: blue;
}
.models:hover {
   color: blue;
}
.price:hover {
   color: blue;
}
.btn:active {
   margin-top: 5px;
}
.start {
   margin: 20px;
   margin-top: 70px;
   margin-left: 50px;
   font-style: bold;
}
.sponzor {
   display: flex;
   width:200px;
   height: 200px;
   margin-left: 300px;
}
.fcblogo {
   width: 200px;
   height: 200px;
   margin-top: 30px;
}
.clnd {
   margin-top: 30px;
   width: 200px;
   height: 200px;
}
.m4 {
   margin-top: 30px;
   width: 230px;
   height: 200px;
}
.table {
   border: 2px solid white;
   margin: 0 auto;
   background-color:black ;
   background-repeat: no-repeat;
   background-position: center;
   margin-top: 100px;
   border-collapse: collapse;
   width: 700px;
   
}
.name {
   background-color: white;
   color: black;
}
.linkss {
   height: 500px;
   height: 500px;
  
   background-repeat: no-repeat;
   margin-top: 100px;
   background-position: center;
   background-color: black;
} 
 .container {
   background-color: skyblue;
   color: black;
   padding: 20px;
   border-radius: 5px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   justify-content: center;
   align-items: center;
   width: 370px;
   margin: 0 auto;
   margin-top: 70px;
   box-shadow: 10px 5px 5px red;
 }
 
 .form-group {
   margin-bottom: 15px;
 }
 
 label {
   display: block;
   margin-bottom: 5px;
 }
 
 input[type="text"],
 input[type="email"],
 input[type="password"] {
   width: 100%;
   padding: 8px;
   border-radius: 3px;
   border: 1px solid #ccc;
   box-shadow: 2px 5px 5px blue;
 }
 
 button {
   padding: 8px 15px;
   background-color: #007bff;
   color: #fff;
   border: none;
   border-radius: 3px;
   cursor: pointer;
 }
 
 button:hover {
   background-color: #0056b3;
 }
 .modelat {
   display: flex;
 }
 .bmw-i8 {
   width: 200px;
   height: 350px;
   background-color: white;
   margin-left: 80px;
   margin-top: 80px;
   color: black;
   border-radius: 50px;
 }
 .bmwi88 {
   width: 200px;
   height: 150px;
   
 }
.qmimi {
   font-size: 15px;
   color: black;
}
span {
   font-size: 10px;
   color: black;
}
.name {
   margin-left: 20px;
}
.likee {
   margin-left: 20px;
}
.teabout {
   float: right;
}
.tall {
   font-size: 20px;
   margin-left: 20px;
}